
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

.part {
  margin: 0 auto;
  width: 820px;
}

  .part button {
    margin-top: 16px;
  }

  .part__instructions {
    padding-bottom: 48px;
    font-size: 24px;
  }

  .part--2 {}

  .part--5 input {
    width: 100px;
  }

  .part--5 table td:last-child {
    text-align: right;
  }

.calculation-table,
.square-table {
  margin-top: 24px;
  width: 465px;
}

  .calculation-table td {
    padding: 4px 0 4px 4px;
    width: 60%;
    border: 1px;
    border-color: #807F80;
    border-style: solid;
  }

  .square-table td,
  .square-table th {
    padding: 4px 0 4px 4px;
    width: 30%;
    border: 1px;
    border-color: #807F80;
    border-style: solid;
  }

    .calculation-table td:last-child {
      text-align: center;
    }

    .calculation-table td:nth-child(2) {
      width: 0;
      border: none;
      background-color: #faf5f0;
    }

    .square-table td {
      text-align: center;
    }

.grade label {
  padding: 8px 0;
  display: block;
}

.grade__details {
  font-size: 12px;
  border: 0;
}

.grade__final {
  padding-top: 16px;
  font-size: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}

.ui-widget-shadow {
  box-shadow: -2px -2px 2px #807F80 !important;
}
  .ui-tooltip-content {
    font-size: 12px;
  }


