
/*------------------------------------*\
    #FORM
\*------------------------------------*/

legend {
  padding: 8px 0;
}

input {
  padding: 10px;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
}

input[type="number"] {
  width: 65px;
}

input[type="number"] {
  width: 100px;
}

input:invalid {
    border-color: #DD2C00;
}

fieldset {
  padding: 16px 0;
}

select {
  margin-top: 8px;
  background-color: #fff;
  font-size: 16px;
}

table,
td,
th {
  border-collapse: collapse;
}

table {}

  th {
    font-size: 20px;
    font-weight: normal;
    background-color: #fff;
  }

  td {
    font-size: 20px;
    background-color: #fff;
  }
