
/*------------------------------------*\
    #FORM
\*------------------------------------*/

input {
  padding: 10px;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
}

input {
  width: 65px;
}

table {
  border: 1px solid black;
}

  th {
    font-size: 24px;
  }

  td {
    font-size: 20px;
  }
