
/*------------------------------------*\
    #NAV
\*------------------------------------*/


header {
  padding: 16px 0 96px;
}

  nav {
    display: inline-block;
  }

    nav li {
      display: inline-block;
      padding: 0 16px;
      font-size: 30px;
      border-bottom: 0;
    }

    nav li a {
      border-bottom: 0;
    }

    .navigation__current {
      border-bottom: 1px solid #303443;
    }

    header h1 {
      display: inline-block;
      width: 20%;
      vertical-align: middle;
      float: right;
    }


.navigation {
  width: 74%;
  text-align: center;
  vertical-align: middle;
}

  .navigation__previous {
    display: inline-block;
    padding: 0;
    width: 5%;
    font-size: 50px;
    vertical-align: middle;
    border: 0;
  }

  .navigation__previous:hover {
    font-style: normal;
  }
