/*------------------------------------*\
    #PAGE-LAYOUT
\*------------------------------------*/

.page-layout {
  margin: 0 auto;
  max-width: 90%;
}

.page-layout--homepage a {
  margin-bottom: 22px;
  font-size: 48px;
}

.page-layout--homepage h1 {
  padding: 16px 0 96px;
}

@media(min-width: 960px)  {
  .page-layout--homepage a {
    margin-bottom: 0;
  }
}

.page-layout--parts header h1 {
  float: none;
}

.grid {
  padding: 16px 0;
}

  @media(min-width: 960px) {
    .grid--rev {
        direction: rtl;
    }

    .grid--rev > .grid-cell {
      direction: ltr;
    }
  }

  .grid-cell {}

  @media(min-width: 960px) {
    .grid-cell {
      display: inline-block;
      width: 49%;
      vertical-align: bottom;
    }
}
