/*------------------------------------*\
    #RESET
\*------------------------------------*/

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure, caption,
table, th, td,
hr {
    margin: 0;
}

fieldset {
  padding: 0;
  border: 0;
}


button,
select, optgroup,
textarea, input {
    border-radius: 0;
    outline: 0;
}


li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  padding: 8px 0;
  display: block;
}

legend {
  font-size: 16px;
  font-weight: bold;
}
